*.se filter=lfs diff=lfs merge=lfs -text
semantic-examples/*.se filter=lfs diff=lfs merge=lfs -text
semantic-examples/*.zip filter=lfs diff=lfs merge=lfs -text
compiler-migration/go/selfhost-current2/semantic/semantic-se.zip filter=lfs diff=lfs merge=lfs -text
SPLC/** filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
mwsplc/**/*.exe filter=lfs diff=lfs merge=lfs -text
mwsplc/**/*.dll filter=lfs diff=lfs merge=lfs -text
mwsplc/**/*.zip filter=lfs diff=lfs merge=lfs -text
mwsplc/**/*.bin filter=lfs diff=lfs merge=lfs -text
crosscompiler/source/mac/proof/*.elf filter=lfs diff=lfs merge=lfs -text
crosscompiler/bin/SLC-macOS-* filter=lfs diff=lfs merge=lfs -text
